<div class="card">

  <p-table #dt1 [columns]="selectedColumns" [value]="products" dataKey="id" [rows]="10" [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 25, 50]" [loading]="loading" selectionMode="single" [(selection)]="selectedProduct"
    dataKey="code" (onRowSelect)="onRowSelect($event)" [paginator]="true"
    [globalFilterFields]="['folio_serv', 'descripcion', 'fecha_creacion_serv', 'movimiento', 'estado', 'referencia', 'folio_articulo']"
    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} entradas">
    <ng-template pTemplate="caption">

      <div class="flex" style="margin-left: 70%;">
        <button type="button" pButton pRipple icon="pi pi-file" (click)="dt1.exportCSV()" class="mr-2" pTooltip="CSV"
          tooltipPosition="bottom">CSV</button>
        <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()"
          class="p-button-success mr-2" pTooltip="XLS" tooltipPosition="bottom">EXCEL</button>
        <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf()" class="p-button-warning mr-2"
          pTooltip="PDF" tooltipPosition="bottom">PDF</button>
      </div>
      <br>
      <div class="flex">
        <button pButton label="Limpiar Filtro" class="p-button-outlined" icon="pi pi-filter-slash"
          (click)="clear(dt1)"></button>
        <p-multiSelect class="flex" [options]="cols" [(ngModel)]="selectedColumns" optionLabel="header"
          selectedItemsLabel="{0} Columnas seleccionadas" [style]="{'min-width': '200px', 'margin-left': '15%'}"
          placeholder="Elige una columna"></p-multiSelect>

        <span class="p-input-icon-left ml-auto" style="margin-left: 15%">
          <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="dt1.filterGlobal($any($event.target).value, 'contains')"
            placeholder="Busqueda global" />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr style="min-width:15rem">
        <th>Detalles</th>
        <th *ngFor="let col of columns">
          <div class="flex align-items-center">
            {{col.header}}
            <p-columnFilter type="text" field="{{col.field}}" display="menu"></p-columnFilter>
          </div>
        </th>
      </tr>
      <!--
      <tr>
        <th style="min-width:15rem">
          <div class="flex align-items-center">
            Folio
            <p-columnFilter type="text" field="folio" display="menu"></p-columnFilter>
          </div>
        </th>
        <th style="min-width:15rem">
          <div class="flex align-items-center">
            CS
            <p-columnFilter type="text" field="cs" display="menu"></p-columnFilter>
          </div>
        </th>
        <th style="min-width:15rem">
          <div class="flex align-items-center">
            Fecha Creacion
            <p-columnFilter type="date" field="fecha_creacion" display="menu"></p-columnFilter>
          </div>
        </th>
        <th style="min-width:15rem">
          <div class="flex align-items-center">
            Movimiento
            <p-columnFilter type="text" field="movimiento" display="menu"></p-columnFilter>
          </div>
        </th>
        <th style="min-width:15rem">
          <div class="flex align-items-center">
            Estatus
            <p-columnFilter type="text" field="estatus" display="menu"></p-columnFilter>
          </div>
        </th>
        <th style="min-width:15rem">
          <div class="flex align-items-center">
            Referencia
            <p-columnFilter type="text" field="referencia" display="menu"></p-columnFilter>
          </div>
        </th>
        <th style="min-width:15rem">
          <div class="flex align-items-center">
            Folio Medio Alterno
            <p-columnFilter type="text" field="folio_medio_alterno" display="menu"></p-columnFilter>
          </div>
        </th>
      </tr>
  -->
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-product let-columns="columns">
      <tr [pSelectableRow]="product" style="font-size: xx-small">
        <td>
          <p-button (click)="showDialog(product.folio_serv)" label="Abrir"></p-button>
          <div class="card flex justify-content-center">
            <p-dialog header="Seguimiento de Solicitudes" [(visible)]="visible" [style]="{width: '50vw'}"
              [maximizable]="true">
              <h6>Solicitud: </h6>{{product.referencia}}
              <h6>Etapa: </h6> {{product.estado}}
              <h6>Fecha: </h6>{{product.fecha_creacion_serv}}<br>
              ------------------------------------------ <br>
              <h6>Solicitud: </h6>{{product.referencia}}
              <h6>Etapa: </h6> {{product.estado}}
              <h6>Fecha: </h6>{{product.fecha_creacion_serv}}<br>
              <a class="btn btn-primary" href="{{openURL}}" target="_blank">Abrir Atlas Web</a>
            </p-dialog>
          </div>
        </td>
        <td *ngFor="let col of columns">
          {{rowData[col.field]}}
        </td>
      </tr>

      <!--
      <tr style="font-size: xx-small">
        <td>
          {{ product.folio }}
        </td>
        <td>
          {{ product.cs }}
        </td>
        <td>
          {{ product.fecha_creacion}}
        </td>
        <td>
          {{ product.movimiento }}
        </td>
        <td>
          {{ product.estatus }}
        </td>
        <td>
          {{ product.referencia }}
        </td>
        <td>
          {{ product.folio_medio_alterno }}
        </td>
      </tr>
      -->
    </ng-template>
  </p-table>
</div>