<div class="container">
  <table class="table table-responsive table-striped table-bordered" style="font-size: smaller; text-align: center;">
    <thead>
      <tr>
        <td rowspan="2"> </td>
        <td colspan="3">Solicitud</td>
        <td colspan="2" rowspan="2">Movimiento</td>
        <td colspan="2" rowspan="2">Estatus</td>
        <td colspan="2" rowspan="2">Referencia</td>
        <td colspan="2" rowspan="2">Folio Medio Alterno</td>
      </tr>
      <tr>
        <td>
          Folio
        </td>
        <td>
          CS
        </td>
        <td>
          Fecha Creacion
        </td>
      </tr>
    </thead>

    <tbody class="table-group-divider">
      <tr>
        <td>Mensaje</td>
        <td>200047555</td>
        <td>PEGASO PCS S.A. DE C.V.</td>
        <td>2023-07-26 09:53:42 AM</td>
        <td colspan="2">Alta</td>
        <td colspan="2">Enviado</td>
        <td colspan="2">UG1-2307-0004</td>
        <td colspan="2"> </td>
      </tr>
      <tr>
        <td>Mensaje</td>
        <td>200047555</td>
        <td>PEGASO PCS S.A. DE C.V.</td>
        <td>2023-07-26 09:53:42 AM</td>
        <td colspan="2">Alta</td>
        <td colspan="2">Enviado</td>
        <td colspan="2">UG1-2307-0004</td>
        <td colspan="2"> </td>
      </tr>
      <tr>
        <td>Mensaje</td>
        <td>200047555</td>
        <td>PEGASO PCS S.A. DE C.V.</td>
        <td>2023-07-26 09:53:42 AM</td>
        <td colspan="2">Alta</td>
        <td colspan="2">Enviado</td>
        <td colspan="2">UG1-2307-0004</td>
        <td colspan="2"> </td>
      </tr>
    </tbody>

  </table>
</div>


<!--
<p-table [value]="customers" [scrollable]="true" scrollHeight="400px">
  <ng-template pTemplate="header">
    <tr>
      <th style="min-width:100px">Id</th>
      <th style="min-width:200px">Name</th>
      <th style="min-width:200px">Country</th>
      <th style="min-width:200px">Date</th>
      <th style="min-width:200px">Balance</th>
      <th style="min-width:200px">Company</th>
      <th style="min-width:200px">Status</th>
      <th style="min-width:200px">Activity</th>
      <th style="min-width:200px">Representative</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-customer>
    <tr>
      <td>{{customer.id}}</td>
      <td>{{customer.name}}</td>
      <td>{{customer.country.name}}</td>
      <td>{{customer.date}}</td>
      <td>{{formatCurrency(customer.balance)}}</td>
      <td>{{customer.company}}</td>
      <td>{{customer.status}}</td>
      <td>{{customer.activity}}</td>
      <td>{{customer.representative.name}}</td>
    </tr>
  </ng-template>
  <ng-template pTemplate="footer">
    <tr>
      <td>Id</td>
      <td>Name</td>
      <td>Country</td>
      <td>Date</td>
      <td>Balance</td>
      <td>Company</td>
      <td>Status</td>
      <td>Activity</td>
      <td>Representative</td>
    </tr>
  </ng-template>
</p-table>
-->