<div class="container">
  <table class="table table-responsive table-striped table-bordered" style="font-size: smaller; text-align: center;">
    <thead>
      <tr>
        <th rowspan="2">Detalle </th>
        <th colspan="3">Solicitud</th>
        <th colspan="2" rowspan="2">Movimiento</th>
        <th colspan="2" rowspan="2">Estatus</th>
        <th colspan="2" rowspan="2">Referencia</th>
        <th colspan="2" rowspan="2">Folio Medio Alterno</th>
        <th colspan="2" rowspan="2">Fecha Medio Alterno</th>
        <th colspan="2" rowspan="2">Hora Medio Alterno</th>
      </tr>
      <tr>
        <th>Folio</th>
        <th>CS</th>
        <th>Fecha Creacion</th>
      </tr>
    </thead>

    <tbody class="table-group-divider">
      <tr *ngFor="let inbox of inboxes">
        <td>{{inbox.detalle}}</td>
        <td>{{inbox.folio}}</td>
        <td>{{inbox.cs}}</td>
        <td>{{inbox.fechaCreacion}}</td>
        <td colspan="2">{{inbox.movimiento}}</td>
        <td colspan="2">{{inbox.estatus}}</td>
        <td colspan="2">{{inbox.referencia}}</td>
        <td colspan="2">{{inbox.folioMedioAlt}}</td>
        <td colspan="2">{{inbox.fechaMedioAlt}}</td>
        <td>{{inbox.horaMedioAlt}}</td>


      </tr>

    </tbody>

  </table>
</div>



<p-table [value]="inboxes" [scrollable]="true" scrollHeight="400px">
  <ng-template pTemplate="header">
      <tr>
          <th style="min-width:100px">Detalle</th>
          <th style="min-width:200px">Solicitud</th>
          <th style="min-width:200px">Movimiento</th>
          <th style="min-width:200px">Estatus</th>
          <th style="min-width:200px">Referencia</th>
          <th style="min-width:200px">Folio Medio Alterno</th>
          <th style="min-width:200px">Fecha Medio Alterno</th>
          <th style="min-width:200px">Hora Medio Alterno</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-customer>
      <tr>
          <td>{{customer.detalle}}</td>
          <td>{{customer.solicitud}}</td>
          <td>{{customer.movimiento}}</td>
          <td>{{customer.estatus}}</td>
          <td>{{customer.referencia}}</td>
          <td>{{customer.folio}}</td>
          <td>{{customer.fechaMedioAlt}}</td>
          <td>{{customer.horaMedioAlt}}</td>

      </tr>
  </ng-template>
  <ng-template pTemplate="footer">
      <tr>
          <td>Detalle</td>
          <td>Solicitud</td>
          <td>Movimiento</td>
          <td>Estatus</td>
          <td>Referencia</td>
          <td>Folio Medio Alterno</td>
          <td>Fecha Medio Alterno</td>
          <td>Hora Medio Alterno</td>
      </tr>
  </ng-template>
</p-table>
<app-paginador></app-paginador>

