<nav class="navbar bg-body-tertiary fixed-top">
  <div class="col-1" style="background-color: #3892D3;">
    <button style="background-color: #3892D3;" class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
        aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon" ></span>
      </button>
    <div class="container-fluid " style="background-color: #3892D3;">

      <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menú</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-start flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Contratación</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Elementos de las Ofertas Comerciales</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Notificaciones</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Reportes IFT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Reportes SEG Enlaces</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Seguimiento</a>
            </li>
          </ul>

        </div>
      </div>
    </div>
  </div>
  <div class="col-7 pt-3" style="background-color: #3892D3;">
    <div class="">SEG Mayoristas</div>
  </div>

  <div class="col-4 pt-3 " style="background-color: #3892D3;">
    <ul class="nav justify-content-end" style="background-color: #3892D3;">
      <li>
        <a> ift enlaces (Perfil: IFT Enlaces)
        </a>
      </li>
    </ul>
  </div>

</nav>
